<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundles</key>
	<array>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>description</key>
			<string>C language support. A fork of the official bundle whose header completion tools run on current Ruby.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>cc</string>
						<string>cpp</string>
						<string>cp</string>
						<string>cxx</string>
						<string>c++</string>
						<string>C</string>
						<string>h</string>
						<string>hh</string>
						<string>hpp</string>
						<string>hxx</string>
						<string>h++</string>
					</array>
					<key>firstLineMatch</key>
					<string>-\*- C\+\+ -\*-</string>
					<key>name</key>
					<string>C++</string>
					<key>scope</key>
					<string>source.c++</string>
					<key>uuid</key>
					<string>26251B18-6B1D-11D9-AFDB-000D93589AF6</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>c</string>
						<string>h</string>
					</array>
					<key>firstLineMatch</key>
					<string>-[*]-( Mode:)? C -[*]-</string>
					<key>name</key>
					<string>C</string>
					<key>scope</key>
					<string>source.c</string>
					<key>uuid</key>
					<string>25066DC2-6B1D-11D9-9D5B-000D93589AF6</string>
				</dict>
			</array>
			<key>name</key>
			<string>C</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/c.tmbundle</string>
			<key>uuid</key>
			<string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Build</string>
			<key>description</key>
			<string>CMake language support. A fork of the official bundle with its support library repaired for current Ruby.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>CMakeCache.txt</string>
					</array>
					<key>name</key>
					<string>CMake Cache</string>
					<key>scope</key>
					<string>source.cache.cmake</string>
					<key>uuid</key>
					<string>B4264EAE-087F-403D-A84B-C4B16EB885D3</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>CMakeLists.txt</string>
						<string>cmake</string>
					</array>
					<key>name</key>
					<string>CMake Listfile</string>
					<key>scope</key>
					<string>source.cmake</string>
					<key>uuid</key>
					<string>6E939107-5C78-455D-A7E6-1107ADC777C2</string>
				</dict>
			</array>
			<key>name</key>
			<string>CMake</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/cmake.tmbundle</string>
			<key>uuid</key>
			<string>766FC6D3-539E-4992-BB95-654636D5F990</string>
		</dict>
		<dict>
			<key>category</key>
			<string>SCM</string>
			<key>description</key>
			<string>Git working-copy commands. A fork of the official bundle whose gitk / git gui launchers work again on current Ruby.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>COMMIT_EDITMSG</string>
						<string>MERGE_MSG</string>
					</array>
					<key>name</key>
					<string>Git Commit Message</string>
					<key>scope</key>
					<string>text.git-commit</string>
					<key>uuid</key>
					<string>BFE83C06-8508-44BE-A975-95A57BF619A7</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>.git/config</string>
						<string>git/config</string>
						<string>.gitconfig</string>
						<string>etc/gitconfig</string>
						<string>.gitmodules</string>
					</array>
					<key>name</key>
					<string>Git Config</string>
					<key>scope</key>
					<string>source.git-config</string>
					<key>uuid</key>
					<string>F0EFAC75-4357-45BD-AB08-682DAF8C6FBF</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>git-rebase-todo</string>
					</array>
					<key>name</key>
					<string>Git Rebase Message</string>
					<key>scope</key>
					<string>text.git-rebase</string>
					<key>uuid</key>
					<string>7F1CC209-5F6D-486A-8180-09FA282381A1</string>
				</dict>
			</array>
			<key>name</key>
			<string>Git</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/git.tmbundle</string>
			<key>uuid</key>
			<string>EADD4718-EE11-4ABF-A7E6-13351FB3799D</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>description</key>
			<string>HTML language support. A fork of the official bundle whose Tidy warnings filter runs on current Ruby.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>html</string>
						<string>htm</string>
						<string>shtml</string>
						<string>xhtml</string>
						<string>inc</string>
						<string>tmpl</string>
						<string>tpl</string>
					</array>
					<key>firstLineMatch</key>
					<string>&lt;(?i:(!DOCTYPE\s*)?html)</string>
					<key>name</key>
					<string>HTML</string>
					<key>scope</key>
					<string>text.html.basic</string>
					<key>uuid</key>
					<string>17994EC8-6B1D-11D9-AC3A-000D93589AF6</string>
				</dict>
			</array>
			<key>name</key>
			<string>HTML</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/html.tmbundle</string>
			<key>uuid</key>
			<string>4676FC6D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>description</key>
			<string>JSON language support. A fork of the official bundle whose Validate Syntax runs on system Ruby instead of Python.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>json</string>
					</array>
					<key>name</key>
					<string>JSON</string>
					<key>scope</key>
					<string>source.json</string>
					<key>uuid</key>
					<string>0C3868E4-F96B-4E55-B204-1DCB5A20748B</string>
				</dict>
			</array>
			<key>name</key>
			<string>JSON</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/json.tmbundle</string>
			<key>uuid</key>
			<string>8BB0DBAF-E65C-4E14-A6A7-467D4AA535E0</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>description</key>
			<string>LaTeX typesetting support. A fork of the official bundle: dialogs go through TextMate’s own dialog server instead of the long-gone CocoaDialog, the table dialog works on first use, and LaTeX Watch runs without Rosetta.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>bib</string>
					</array>
					<key>name</key>
					<string>BibTeX</string>
					<key>scope</key>
					<string>text.bibtex</string>
					<key>uuid</key>
					<string>47F30BA1-6B1D-11D9-9A60-000D93589AF6</string>
				</dict>
				<dict>
					<key>firstLineMatch</key>
					<string>^\\documentclass(\[.*\])?\{beamer\}</string>
					<key>name</key>
					<string>LaTeX Beamer</string>
					<key>scope</key>
					<string>text.tex.latex.beamer</string>
					<key>uuid</key>
					<string>2ACA20AA-B008-469B-A04A-6DE232973ED8</string>
				</dict>
				<dict>
					<key>firstLineMatch</key>
					<string>This is (pdf|pdfe)?TeXk?, Version </string>
					<key>name</key>
					<string>LaTeX Log</string>
					<key>scope</key>
					<string>text.log.latex</string>
					<key>uuid</key>
					<string>F68ACE95-7DB3-4DFB-AA8A-89988B116B5C</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>tex</string>
					</array>
					<key>firstLineMatch</key>
					<string>^\\documentclass(?!.*\{beamer\})</string>
					<key>name</key>
					<string>LaTeX</string>
					<key>scope</key>
					<string>text.tex.latex</string>
					<key>uuid</key>
					<string>3BEEA00C-6B1D-11D9-B8AD-000D93589AF6</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>sty</string>
						<string>cls</string>
						<string>bbx</string>
						<string>cbx</string>
					</array>
					<key>name</key>
					<string>TeX</string>
					<key>scope</key>
					<string>text.tex</string>
					<key>uuid</key>
					<string>6BC8DE6F-9360-4C7E-AC3C-971385945346</string>
				</dict>
				<dict>
					<key>firstLineMatch</key>
					<string>^\\documentclass(\[.*\])?\{memoir\}</string>
					<key>name</key>
					<string>LaTeX Memoir</string>
					<key>scope</key>
					<string>text.tex.latex.memoir</string>
					<key>uuid</key>
					<string>D0853B20-ABFF-48AB-8AB9-3D8BA0755C05</string>
				</dict>
			</array>
			<key>name</key>
			<string>LaTeX</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/latex.tmbundle</string>
			<key>uuid</key>
			<string>46788DCE-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>description</key>
			<string>Compose mail in TextMate. A fork of the official bundle whose Unwrap Paragraphs runs on current Ruby.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>mail</string>
						<string>eml</string>
						<string>eml.txt</string>
					</array>
					<key>firstLineMatch</key>
					<string>^From: .*(?=\w+@[\w-]+\.\w+)</string>
					<key>name</key>
					<string>Mail</string>
					<key>scope</key>
					<string>text.mail.markdown</string>
					<key>uuid</key>
					<string>15615A0C-37B0-4B3F-9105-53ED536AFBB4</string>
				</dict>
			</array>
			<key>name</key>
			<string>Mail</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/mail.tmbundle</string>
			<key>uuid</key>
			<string>385A8908-0733-408E-AFA5-9576D2E3A16B</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>description</key>
			<string>Read and cross-reference man pages inside TextMate. A fork of the official bundle whose section lookup works with current macOS man(1).</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>man</string>
					</array>
					<key>name</key>
					<string>Man</string>
					<key>scope</key>
					<string>text.man</string>
					<key>uuid</key>
					<string>E8BAC30A-16BF-498D-941D-73FBAED37891</string>
				</dict>
			</array>
			<key>name</key>
			<string>Man Pages</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/man-pages.tmbundle</string>
			<key>uuid</key>
			<string>69766802-226D-4D14-9B7C-CC8E16455CFD</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>description</key>
			<string>Highlights git conflict markers in any file via an injection grammar. Pure grammar, no runtime code.</string>
			<key>name</key>
			<string>Merge Markers</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/merge-markers.tmbundle</string>
			<key>uuid</key>
			<string>F112701D-A5D4-4CB7-91B4-52AFE3E98259</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Build</string>
			<key>description</key>
			<string>Ninja build files: grammar and a build command. A fork of the official bundle that finds ninja in the Apple Silicon Homebrew prefix.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>ninja</string>
					</array>
					<key>name</key>
					<string>Ninja</string>
					<key>scope</key>
					<string>source.ninja</string>
					<key>uuid</key>
					<string>012183BB-F02F-496D-9910-3B2504674FEC</string>
				</dict>
			</array>
			<key>name</key>
			<string>Ninja</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/ninja.tmbundle</string>
			<key>uuid</key>
			<string>ADD9CB84-49C7-4BED-815C-B92340804265</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>description</key>
			<string>Objective-C language support. A fork of the official bundle whose Insert NSLog() command runs on current Ruby.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>mm</string>
						<string>M</string>
						<string>h</string>
					</array>
					<key>name</key>
					<string>Objective-C++</string>
					<key>scope</key>
					<string>source.objc++</string>
					<key>uuid</key>
					<string>FDAB1813-6B1C-11D9-BCAC-000D93589AF6</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>m</string>
						<string>h</string>
					</array>
					<key>name</key>
					<string>Objective-C</string>
					<key>scope</key>
					<string>source.objc</string>
					<key>uuid</key>
					<string>F85CC716-6B1C-11D9-9A20-000D93589AF6</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>strings</string>
					</array>
					<key>name</key>
					<string>Strings File</string>
					<key>scope</key>
					<string>source.strings</string>
					<key>uuid</key>
					<string>429E2DB7-EB4F-4B34-A4DF-DBFD3336C581</string>
				</dict>
			</array>
			<key>name</key>
			<string>Objective-C</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/objective-c.tmbundle</string>
			<key>uuid</key>
			<string>4679484F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>description</key>
			<string>OCaml language support. A fork of the official bundle whose wrap-section commands run on current Ruby.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>ml</string>
						<string>mli</string>
					</array>
					<key>name</key>
					<string>OCaml</string>
					<key>scope</key>
					<string>source.ocaml</string>
					<key>uuid</key>
					<string>F816FA69-6EE8-11D9-BF2D-000D93589AF6</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>mll</string>
					</array>
					<key>name</key>
					<string>OCamllex</string>
					<key>scope</key>
					<string>source.ocamllex</string>
					<key>uuid</key>
					<string>007E5263-8E0D-4BEF-B0E1-F01AE32590E8</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>mly</string>
					</array>
					<key>name</key>
					<string>OCamlyacc</string>
					<key>scope</key>
					<string>source.ocamlyacc</string>
					<key>uuid</key>
					<string>1B59327E-9B82-4B78-9411-BC02067DBDF9</string>
				</dict>
			</array>
			<key>name</key>
			<string>OCaml</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/ocaml.tmbundle</string>
			<key>uuid</key>
			<string>F80D3822-6EE8-11D9-BF2D-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>description</key>
			<string>PHP language support. A fork of the official bundle: the documentation command runs on current Ruby and generate.rb no longer hardcodes a 2012 Homebrew interpreter.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>php</string>
						<string>php3</string>
						<string>php4</string>
						<string>php5</string>
						<string>phpt</string>
						<string>phtml</string>
						<string>aw</string>
						<string>ctp</string>
					</array>
					<key>firstLineMatch</key>
					<string>^#!.*(?&lt;!-)php[0-9]{0,1}\b|&lt;\?php</string>
					<key>name</key>
					<string>PHP</string>
					<key>scope</key>
					<string>text.html.php</string>
					<key>uuid</key>
					<string>22986475-8CA5-11D9-AEDD-000D93C8BE28</string>
				</dict>
			</array>
			<key>name</key>
			<string>PHP</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/php.tmbundle</string>
			<key>uuid</key>
			<string>467A1966-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>description</key>
			<string>Python language support — run scripts, syntax checking via pycheckmate, pydoc lookup. A fork of the official bundle ported to Python 3: commands, templates and checkers run on python3, and the defunct DocMate browser is retired.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>py</string>
						<string>py3</string>
						<string>rpy</string>
						<string>pyw</string>
						<string>cpy</string>
						<string>SConstruct</string>
						<string>Sconstruct</string>
						<string>sconstruct</string>
						<string>SConscript</string>
						<string>gyp</string>
						<string>gypi</string>
					</array>
					<key>firstLineMatch</key>
					<string>^#!/.*\bpython[\d\.]*\b</string>
					<key>name</key>
					<string>Python</string>
					<key>scope</key>
					<string>source.python</string>
					<key>uuid</key>
					<string>F23DB5B2-7D08-11D9-A709-000D93B6E43C</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>re</string>
					</array>
					<key>name</key>
					<string>Regular Expressions (Python)</string>
					<key>scope</key>
					<string>source.regexp.python</string>
					<key>uuid</key>
					<string>DD867ABF-1EC6-415D-B047-687F550A1D51</string>
				</dict>
			</array>
			<key>name</key>
			<string>Python</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/python.tmbundle</string>
			<key>uuid</key>
			<string>E3BADC20-6B0E-11D9-9DC9-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>description</key>
			<string>Test and highlight regular expressions against sample text. A fork of the official bundle with its match and substitution testers repaired.</string>
			<key>name</key>
			<string>Regular Expressions</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/regularexpressions.tmbundle</string>
			<key>uuid</key>
			<string>57D5EDA2-A531-11D9-917B-000D9332809C</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>description</key>
			<string>Ruby language support — run scripts, xmpfilter annotations, RuboCop reformatting. A fork of the official bundle repaired for current Ruby: Run Rake Task, Insert Missing Requires and Reformat Document work again.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>rb</string>
						<string>rbx</string>
						<string>rjs</string>
						<string>Rakefile</string>
						<string>rake</string>
						<string>cgi</string>
						<string>fcgi</string>
						<string>gemspec</string>
						<string>irbrc</string>
						<string>Capfile</string>
						<string>ru</string>
						<string>prawn</string>
						<string>Cheffile</string>
						<string>Guardfile</string>
						<string>Hobofile</string>
						<string>Vagrantfile</string>
						<string>.vagrantplugins</string>
						<string>Appraisals</string>
						<string>Rantfile</string>
						<string>Berksfile</string>
						<string>Berksfile.lock</string>
						<string>Thorfile</string>
						<string>Puppetfile</string>
						<string>arb</string>
						<string>Dangerfile</string>
						<string>Brewfile</string>
						<string>Fastfile</string>
						<string>Appfile</string>
						<string>Deliverfile</string>
						<string>Matchfile</string>
						<string>Scanfile</string>
						<string>Snapfile</string>
						<string>Gymfile</string>
						<string>jb</string>
						<string>Podfile</string>
					</array>
					<key>firstLineMatch</key>
					<string>(?x)
# Hashbang
^\#!.*(?:\s|\/)
(?:ruby[\.\d]*|macruby|rake|jruby|rbx|ruby_executable_hooks)
(?:$|\s)
|
# Modeline
(?i:
    # Emacs
    -\*-(?:\s*(?=[^:;\s]+\s*-\*-)|(?:.*?[;\s]|(?&lt;=-\*-))mode\s*:\s*)
    ruby
    (?=[\s;]|(?&lt;![-*])-\*-).*?-\*-
  |
    # Vim
    (?:(?:\s|^)vi(?:m[&lt;=&gt;]?\d+|m)?|\sex)
    (?=:(?=\s*set?\s[^\n:]+:)|:(?!\s*set?\s))
    (?:(?:\s|\s*:\s*)\w*(?:\s*=(?:[^\n\\\s]|\\.)*)?)*
    [\s:]
    (?:filetype|ft|syntax)\s*=
    ruby
    (?=\s|:|$)
)</string>
					<key>name</key>
					<string>Ruby</string>
					<key>scope</key>
					<string>source.ruby</string>
					<key>uuid</key>
					<string>E00B62AC-6B1C-11D9-9B1F-000D93589AF6</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>Gemfile</string>
					</array>
					<key>name</key>
					<string>Gemfile</string>
					<key>scope</key>
					<string>source.ruby.gemfile</string>
					<key>uuid</key>
					<string>410F8BB5-7543-4081-A38D-3B69CA92ACE9</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>erb</string>
						<string>rhtml</string>
						<string>html.erb</string>
					</array>
					<key>name</key>
					<string>HTML (Ruby - ERB)</string>
					<key>scope</key>
					<string>text.html.erb</string>
					<key>uuid</key>
					<string>13FF9439-15D0-4E74-9A8E-83ABF0BAA5E7</string>
				</dict>
			</array>
			<key>name</key>
			<string>Ruby</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/ruby.tmbundle</string>
			<key>uuid</key>
			<string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>description</key>
			<string>Commands for TextMate itself: syntax-highlighted HTML and RTF export. A fork of the official bundle that runs on current Ruby and drops the dead pastie.org paste command.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>tm_properties</string>
						<string>tmProperties</string>
					</array>
					<key>name</key>
					<string>Properties</string>
					<key>scope</key>
					<string>source.tm-properties</string>
					<key>uuid</key>
					<string>DE84747E-90A6-4731-92A4-A9C6823D35DE</string>
				</dict>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>re</string>
					</array>
					<key>name</key>
					<string>Regular Expressions (Oniguruma)</string>
					<key>scope</key>
					<string>source.regexp.oniguruma</string>
					<key>uuid</key>
					<string>D609BF3F-BEDB-41AE-BA6F-903CC77A7BB3</string>
				</dict>
			</array>
			<key>name</key>
			<string>TextMate</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/textmate.tmbundle</string>
			<key>uuid</key>
			<string>5A9D4FC6-6CBE-11D9-A21B-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>description</key>
			<string>Hardware description language used in electronic design automation. A fork of the official bundle with one-line symbols for processes, functions and procedures, declaration lookup that ignores optional keywords, and a Tidy command that leaves Emacs backup files alone.</string>
			<key>grammars</key>
			<array>
				<dict>
					<key>fileTypes</key>
					<array>
						<string>vhd</string>
						<string>vhdl</string>
						<string>vho</string>
					</array>
					<key>name</key>
					<string>VHDL</string>
					<key>scope</key>
					<string>source.vhdl</string>
					<key>uuid</key>
					<string>99A3EB51-FCCD-4EA4-A642-10C2E8B93112</string>
				</dict>
			</array>
			<key>name</key>
			<string>VHDL</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/vhdl.tmbundle</string>
			<key>uuid</key>
			<string>F5351E61-488E-44A5-BF0B-02FED526B641</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Themes</string>
			<key>description</key>
			<string>Xcode 26 Dark and Light editor colours. Closest with SF Mono Medium, 12 pt.</string>
			<key>name</key>
			<string>Xcode 26 Theme</string>
			<key>ref</key>
			<string>master</string>
			<key>url</key>
			<string>https://github.com/robios/xcode-26-theme.tmbundle</string>
			<key>uuid</key>
			<string>65E76021-BD22-4892-93F6-BB58E2C3138E</string>
		</dict>
	</array>
	<key>name</key>
	<string>robios bundles</string>
	<key>schemaVersion</key>
	<integer>1</integer>
</dict>
</plist>
